<nav class="navbar navbar-expand bg-light fixed-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="/assets/img/logo.png" alt="" width="25" height="27"
          class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page" [routerLink]="['/configuracoes']">
            Configurações
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" [routerLink]="['/cadastros']">
            Cadastros
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
