<div class="card mb-4">
  <div class="card-header">
    <h5 class="text-center mb-2">{{ titulo }}</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="form">
      <div class="row col-12 mb-3">
        <div class="col-2">
          <label [for]="idInputInicio" class="form-label">Início:</label>
          <input type="time" [id]="idInputInicio" class="form-control"
              formControlName="inicio" style="text-align: center;">
        </div>
        <div class="col-2">
          <label [for]="idInputFim" class="form-label">Fim:</label>
          <input type="time" [id]="idInputInicio" class="form-control"
              formControlName="fim" style="text-align: center;">
        </div>
        <div class="col-2">
          <button class="btn btn-primary btn-inside" type="button" title="adicionar turno"
              [disabled]="form.invalid" (click)="adicionaTurno()">
            <fa-icon [icon]="iPlus"></fa-icon>
          </button>
        </div>
        <div class="col-6">
          <table class="table table-sm table-striped table-hover table-bordered">
            <caption *ngIf="turnos?.length == 0" class="text-danger">
              nenhum turno no período...
            </caption>
            <caption *ngIf="turnos.length > 0">
              turnos no período
            </caption>
            <thead class="bg-dark text-white">
              <th class="text-center">Início</th>
              <th class="text-center">Fim</th>
              <th class="text-center" style="width: 60px;">rem</th>
            </thead>
            <tbody>
              <tr *ngFor="let turno of turnos; index as i;">
                <td class="text-center align-middle">{{ turno.inicio }}</td>
                <td class="text-center align-middle">{{ turno.fim }}</td>
                <td class="text-center align-middle">
                  <button class="btn btn-sm btn-danger" title="remover turno"
                      (click)="removerTurno(i)">
                    <fa-icon [icon]="iMinus"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
